.dialog {
    display: flex;
    flex-direction: column;

    margin: 1rem;
}

.create-diary-entry-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.create-diary-entry-input {
    width: 100%;
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    width: 120px;
}
