@if (operation$ | async; as operation) {
    <p>{{ operation.operationStartTimestamp }}</p>
    <p>{{ operation.controlCenterId }}</p>
    <p>{{ operation.alarmKeyword }}</p>

    <div class="diary-entry-container">
        <h2>Einträge</h2>
        @for (diaryEntry of operation.diaryEntries; track diaryEntry.uuid) {
            <app-diary-entry-card
                class="diary-entry"
                [diary-entry]="diaryEntry"></app-diary-entry-card>
        }
    </div>
} @else {
    <p>Keinen Einsatz gefunden</p>
}
