.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.spacer {
    flex: 1 1 auto;
}

.diary-entry-container {
    display: flex;
    flex-direction: column;
}

.diary-entry {
    padding-bottom: 10px;
}

.operation-data {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    color: gray;
    font-size: 0.9rem;
}

.content {
    display: flex;
    flex-direction: column;
}
