<main class="page">
    @if (operation$ | async; as operation) {
        <p>{{ operation.operationStartTimestamp }}</p>
        <p>{{ operation.controlCenterId }}</p>
        <p>{{ operation.alarmKeyword }}</p>

        <div class="diary-entry-container">
            <div class="header-container">
                <h2>Einträge</h2>
                <div class="spacer"></div>
                <button
                    mat-icon-button
                    aria-label="Neuen Einsatz hinzufügen"
                    (click)="openCreateDialog(operation)">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

            <app-create-diary-entry-card [operation]="operation"></app-create-diary-entry-card>

            <div class="spacer"></div>

            @if (sortedDiaryEntries$ | async; as sortedDiaryEntries) {
                @for (diaryEntry of sortedDiaryEntries; track diaryEntry.uuid) {
                    <app-diary-entry-card
                        class="diary-entry"
                        [diary-entry]="diaryEntry"></app-diary-entry-card>
                }
            }
        </div>
    } @else {
        <p>Keinen Einsatz gefunden</p>
    }
</main>
