<main class="page">
    <div class="header-container">
        <h2>Einsätze</h2>
        <div class="spacer"></div>
        <button
            mat-icon-button
            aria-label="Neuen Einsatz hinzufügen"
            (click)="openCreateDialog()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="card-container">
        @for (operation of (operationsDiary$ | async)?.operations; track operation.uuid) {
            <app-operation-card [operation]="operation"></app-operation-card>
        }
    </div>
</main>
