<main class="page">
    <h1>Einsatztagebuch</h1>

    <div class="header-container">
        <h2>Einsätze</h2>
        <div class="spacer"></div>
        <button
            (click)="openCreateDialog()"
            aria-label="Neuen Einsatz hinzufügen"
            mat-icon-button>
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="card-container">
        @for (operation of sortedOperations | async; track operation.uuid) {
            <app-operation-card [operation]="operation"></app-operation-card>
        }
    </div>
</main>
